/* Base Styles */
body {
  background-color: white;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  max-width: 1300px;
  min-width: 256px;
  padding-bottom: 24px;
  padding-top: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border: 4px solid black;
  border-radius: 18px;
}

h1 {
  font-size: 90px;
  margin-left: 90px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;
  font-size: 39px;
  margin-left: 50px;
margin-bottom: 50px;
}

.profile {
  text-align: justify;
margin-bottom: 50px;
}

#author {
  font-size: 15px;
  margin-left: 930px;
  padding-bottom: 90px;
}


#hi {
margin-top: 70px;
}


#hobbies {
  background-color: pink;
  padding-top: 10px;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 110px;
  margin-top: 30px;
  margin-bottom: 100px;
  max-width: 1100px;
  border: 4px solid black;
  border-radius: 18px;
  text-align: justify;
}

/* Adding style to navigation menu */
#main-nav ul {
  list-style-type: none;
  background-color: pink;
  border: 4px solid black;
  border-radius: 18px;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

#main-nav ul li {
  display: inline;
border-right: 2px solid black;
  padding-right: 8px;
  padding-left: 8px;
}

#main-nav ul li:last-child {
  border-right: none; /* Removing border on the right of the last navigation button */
}

/* Adding transition effect to navigation buttons when hovered on */
#main-nav ul li a {
  text-decoration: none; /* Removing bullet on text */
  color: black;
  transition: border-radius 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

/* Adding a different style to navigation buttons when hovered on */
#main-nav .nav-button:hover {
  background-color: white;
  border: 2px solid black;
  color: pink;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 18px;
}

/* Adding style and margin to img and transition effect when hovered on */
#ivy {
  width: 100%;   
  max-width: 325px;  
  height: auto;  
  float: right;
  margin-left: 60px;
  cursor: pointer;
  border-radius: 18px;
  transition: transform 0.3s ease;
}

/* Adding transform effect to img when hovered on */
#ivy:hover {
  transform: scale(0.95);
}

/* Adding style on Fun Fact Button */
#funFactButton {
  background-color: pink;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 18px;
  border: black;
  cursor: pointer;
  border-radius: 18px;
  transition: background-color 0.3s ease;
  display: inline-block; /* Makes button inline for easy centering */
  margin: 0 auto;
}

/* Making the Fun Fact button interactive */
#funFactButton:hover {
  background-color: white;
  border: 2px solid black;
  color: pink;
}

#funFactDisplay {
  display: none; /* Initially hidden */
}

/* Adding style on Fun Fact when displayed */
#funFactDisplay {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #ff6347; 
  font-style: italic;
}

#footer-nav ul {
  list-style-type: none;
  cursor: pointer;
}
#footer-nav ul li {
  margin-left: 15px;
  font-style: bold;
}

/* Adding transition effect to contact icons when hovered on */
#footer-nav ul li a {
  text-decoration: none; 
  transition: border-radius 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}


#email {
  width: 100%;   
  max-width: 30px;  
  height: auto;  
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.2s ease;
}
#email:hover {
  transform: scale(0.95);
}

#fb {
  width: 100%;   
  max-width: 32px;  
  height: auto;  
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.2s ease;
}
#fb:hover {
  transform: scale(0.95);
}
#ig {
  width: 100%;   
  max-width: 28px;  
  height: auto;  
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.2s ease;
}
#ig:hover {
  transform: scale(0.95);
}
#tk {
  width: 100%;   
  max-width: 29px;  
  height: auto;  
  cursor: pointer;
  border-radius: 2px;
  transition: transform 0.2s ease;
}
#tk:hover {
  transform: scale(0.95);
}

#copy {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}
/* Making the page responsive on screen with 1299px width */
@media all and (max-width: 1299px) {
body {
  max-width: 1200px;
  margin-left: 20px;
  margin-right: 20px;
}

}


/* Making the page responsive on screen with 900px width */
@media all and (max-width: 900px) {

/* Adjust different sections of the page */  
  body {
  margin-left: 45px;
  margin-right: 45px;
}

  h1 {
    font-size: 50px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }

  h2 {
    font-size: 30px;
    margin-left: 20px;

  }

  .profile {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 3px;

  }

  #author {
    font-size: 14px;
    margin-left: 10px;
    text-align: center;
  }

  /* Adjust image layout */
  #ivy {
    width: 100%;
    max-width: 300px;
    margin-left: 20px;
margin-bottom: 20px;
    display: block;
    margin-top: 20px;
    margin-right: auto;
  }

  /* Hobbies section */
  #hobbies {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  /* Navigation bar */
  #main-nav ul {
    display: block;
    text-align: center;
  }

  #main-nav ul li {
    display: inline;
    
  }

  #main-nav ul li a {
    padding: 10px 15px;
    font-size: 18px;
}

  #funFactButton {
    margin-left: auto;
    margin-right: auto;
    width: 100%; /* Button takes full width */
    max-width: 300px; /* Controls the max width */
    display: block;
    margin-top: 20px;
  }
}

/* Making the page responsive on screen with 780px width */
@media all and (max-width: 780px) {

  body {
  margin-left: 23px;
  margin-right: 23px;
}
}

/* Making the page responsive on screen with 600px width */
@media all and (max-width: 600px) {
 
    h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
margin-top: 20px;
  }
  

#ivy {
margin-bottom: 20px;
}
 
  #funFactButton {
    font-size: 16px;
    padding: 8px 12px;
    margin: 10px auto; 
  }

#funFactDisplay {
  margin-top: 20px;
}
}


/* Making the page responsive on screen with 457px width */
@media all and (max-width: 457px) {
 #main-nav ul li {
  padding-right: 1px;
  padding-left: 1px;
} 
 #main-nav ul li a {
    padding: 7px 12px;
    font-size: 17px;
}
}

/* Making the page responsive on screen with 412px width */  
@media all and (max-width: 412px) {
  
  body {
  margin-left: 14px;
  margin-right: 14px;
}
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 28px;
margin-top: 10px;
  }
  

.profile {
  margin-right: 10px;
}

#author {
  padding-bottom: 60px;
}


#ivy {
    display: block;  
margin-top: auto;
margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto; 
  }

  #funFactButton {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 20px;
    max-width: 280px; /* Adjust button size for very small screens */
  }

#funFactDisplay {
  margin-top: 10px;
}
}

/* Making the page responsive on screen with 383px width */
@media all and (max-width: 383px) {
  body {
  margin-left: 10px;
  margin-right: 10px;
}

}















